version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - .env

volumes:
  postgres-data:
